 {{ header }} 
<div class="grid--extras">
    <div></div>
    <div></div>
    <div></div>
</div>
<div id="common-home" class="container-fluid px-0">
  <div class="row">
    <div id="content" class="col-12">{{ content_top }}{{ content_bottom }}</div>
  </div>
</div>
{{ footer }}
<script>
//Все двери Бульдорс
setTimeout(function(){
	jQuery('#allDoorLink').html('Все двери Бульдорс');
}, 50);

</script>