<div class="input-group" id="search">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input class="form-control" name="search" placeholder="Я хочу купить..." type="text"
           value="{{ search }}"/>
    <span class="input-group-btn">
        <button class="button" type="button">Найти</button>
    </span>
</div>